@font-face {
    font-family: "Maru Buri";
    font-weight: 100;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/maru-buri/maru-buri-extralight.woff2")
        format("woff2");
}

@font-face {
    font-family: "Maru Buri";
    font-weight: 300;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/maru-buri/maru-buri-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "Maru Buri";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/maru-buri/maru-buri-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Maru Buri";
    font-weight: 500;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/maru-buri/maru-buri-semibold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Maru Buri";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/maru-buri/maru-buri-bold.woff2")
        format("woff2");
}
