@font-face {
    font-family: "Nanum Gothic";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-gothic/nanum-gothic-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Nanum Gothic";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-gothic/nanum-gothic-bold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Nanum Gothic";
    font-weight: 800;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-gothic/nanum-gothic-extrabold.woff2")
        format("woff2");
}
