@font-face {
    font-family: "NanumSquare Neo";
    font-weight: 300;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-square-neo/nanum-square-neo-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "NanumSquare Neo";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-square-neo/nanum-square-neo-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "NanumSquare Neo";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-square-neo/nanum-square-neo-bold.woff2")
        format("woff2");
}

@font-face {
    font-family: "NanumSquare Neo";
    font-weight: 800;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-square-neo/nanum-square-neo-extrabold.woff2")
        format("woff2");
}

@font-face {
    font-family: "NanumSquare Neo";
    font-weight: 900;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-square-neo/nanum-square-neo-heavy.woff2")
        format("woff2");
}
