@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 100;
  font-display: swap;
  src: local("IBM Plex Sans KR Thin"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-Thin.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 200;
  font-display: swap;
  src: local("IBM Plex Sans KR ExtraLight"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-ExtraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 300;
  font-display: swap;
  src: local("IBM Plex Sans KR Light"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Sans KR Regular"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 500;
  font-display: swap;
  src: local("IBM Plex Sans KR Medium"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 600;
  font-display: swap;
  src: local("IBM Plex Sans KR SemiBold"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-SemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 700;
  font-display: swap;
  src: local("IBM Plex Sans KR Bold"),
    url("chrome-extension://__MSG_@@extension_id__/fonts/IBMPlexSansKR/IBMPlexSansKR-Bold.woff2")
      format("woff2");
}
