@font-face {
    font-family: "LINE Seed KR";
    font-weight: 100;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/line-seed-kr/line-seed-kr-thin.woff2")
        format("woff2");
}

@font-face {
    font-family: "LINE Seed KR";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/line-seed-kr/line-seed-kr-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "LINE Seed KR";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/line-seed-kr/line-seed-kr-bold.woff2")
        format("woff2");
}
