@font-face {
    font-family: "Tinos";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/tinos/tinos-regular.woff2")
        format("woff2");
}
