@font-face {
    font-family: "Noto Serif KR";
    font-weight: 200;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-extralight.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 300;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 500;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-medium.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 600;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-semibold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-bold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 900;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-serif-kr/noto-serif-kr-black.woff2")
        format("woff2");
}
