@import url("./typefaces/Tinos/Tinos.css");

:root {
  --color-black: #0f0f0f;
  --color-gray: #878d91;
  --color-lightgray: #a9afb3;
  --color-blue: #4c80f1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-black);
}

main {
  padding: 12px;
}

a {
  color: var(--color-blue);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

header > img {
  width: 28px;
  height: 28px;
}

header > h1 {
  font-family: "Tinos", serif;
  font-size: 1.2rem;
  white-space: nowrap;
}

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input[type="submit"] {
  margin-top: 12px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: var(--color-black);
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 150ms;
}

input[type="submit"]:hover {
  background-color: var(--color-gray);
}

input[type="submit"]:active {
  background-color: var(--color-lightgray);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: small;
}
