@font-face {
    font-family: "Nanum Barun Gothic";
    font-weight: 100;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-barun-gothic/nanum-barun-gothic-ultra-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "Nanum Barun Gothic";
    font-weight: 300;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-barun-gothic/nanum-barun-gothic-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "Nanum Barun Gothic";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-barun-gothic/nanum-barun-gothic-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Nanum Barun Gothic";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/nanum-barun-gothic/nanum-barun-gothic-bold.woff2")
        format("woff2");
}
