@font-face {
  font-family: "LINE Seed KR";
  font-weight: 100;
  font-display: swap;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/LineSeedKR/LINESeedKR-Th.woff2")
    format("woff2");
}

@font-face {
  font-family: "LINE Seed KR";
  font-weight: 400;
  font-display: swap;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/LineSeedKR/LINESeedKR-Rg.woff2")
    format("woff2");
}

@font-face {
  font-family: "LINE Seed KR";
  font-weight: 700;
  font-display: swap;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/LineSeedKR/LINESeedKR-Bd.woff2")
    format("woff2");
}
