@font-face {
    font-family: "Kakao Big Sans";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/kakao-big-sans/kakao-big-sans-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Kakao Big Sans";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/kakao-big-sans/kakao-big-sans-bold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Kakao Big Sans";
    font-weight: 800;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/kakao-big-sans/kakao-big-sans-extrabold.woff2")
        format("woff2");
}
