@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 100;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-thin.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 200;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-extralight.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 300;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-light.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 400;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 500;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-medium.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 600;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-semibold.woff2")
        format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans KR";
    font-weight: 700;
    font-display: swap;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/ibm-plex-sans-kr/ibm-plex-sans-kr-bold.woff2")
        format("woff2");
}
