@font-face {
  font-family: "RIDIBatang";
  font-weight: 400;
  font-display: swap;
  src: local("RIDIBatang"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/RIDIBatang/RIDIBatang.woff2")
      format("woff2");
}
