@font-face {
  font-family: "Noto Serif KR";
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif KR ExtraLight"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-ExtraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif KR Light"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif KR"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif KR Medium"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 600;
  font-display: swap;
  src: local("Noto Serif KR SemiBold"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-SemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif KR Bold"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Noto Serif KR";
  font-weight: 900;
  font-display: swap;
  src: local("Noto Serif KR Black"),
    url("chrome-extension://__MSG_@@extension_id__/static/fonts/NotoSerifKR/NotoSerifKR-Black.woff2")
      format("woff2");
}
